{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Detail</h1>
  <hr>
  <p>글 번호 - {{ review.pk }}</p>
  <p>후기 제목 - {{ review.title }}</p>
  {% if review.image %}
    <img src="{{ review.image.url }}" alt="{{ review.image }}">
  {% endif %}
  <p>후기 내용 - {{ review.content }}</p>
  <p>영화 이름 - {{ review.movie }}</p>
  <a href="{% url 'reviews:index' %}" class="btn btn-sm btn-outline-warning">인덱스로 가기</a>
  <hr>
  <h3>댓글 목록</h3>
  <p>댓글 수 - {{ comments_count }}</p>
  {% for comment in comments %}
    <hr>
    <p>댓글 번호 - {{ comment.pk }}</p>
    <p>{{ comment.content }}</p>
    <form action="{% url 'reviews:comment_delete' review.pk comment.pk %} " method="POST">
      {% csrf_token %}
      <input type="submit" value="댓글 삭제" class="btn btn-sm btn-outline-danger">
    </form>
  {% empty %}
    <p>댓글이 없습니다. 댓글을 작성해보세요. </p>
  {% endfor %}
  <form action="{% url 'reviews:comment_create' review.pk %}" method="POST" class="mt-3">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 작성" class="btn btn-sm btn-outline-primary">
  </form>
{% endblock content %}