{% extends 'base.html' %}

{% block style %}
  a {
    text-decoration-line: none;
  }
{% endblock style %}

{% block content %}
  <div class="container">
    <h1>To-do list</h1>
    <a href="{% url 'todos:new' %}"><button type="button" class="btn btn-primary mb-3">New</button></a>
    {% for todo in todos %}
      <p class="fs-4"><a href="{% url 'todos:detail' todo.pk %}">{{ todo.title }}</a></p>
      <p>우선순위: {{ todo.priority }}, 마감기한: {{ todo.deadline }}</p>
      <hr>
    {% endfor %}
  </div>

{% endblock content %}
