{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <form action="{% url 'todos:index' %}" method="GET">
      <div class="mb-3 col-4">
        <label for="detailtitle" class='fs-5 mt-3 mb-1'>할 일 제목</label>
        <input type="text" class="form-control" name="title" id="detailtitle"> 
      </div>
      <div class="mb-3 col-4">
        <label for="detailcontent" class='fs-5 mb-1'>할 일 내용</label>
        <textarea name="content" id="detailcontent" cols="20" rows="3" class="form-control"></textarea>
      </div>
      <div class="mb-3 col-4">
        <label for="detailpriority" class='fs-5 mt-3'>우선 순위</label>
        <input type="number" class="form-control" name="priority" id="detailpriority" min="1" max="5">
      </div>
      <div class="mb-3 col-3">
        <label for="detaildeadline" class="fs-5 mt-3">마감 기한</label>
        <div class="input-group">
          <input type="text" id="date-picker" class="form-control" aria-label="Search" aria-describedby="basic-addon" th:value="|${year}-${month}-${day}|" name="deadline">
          <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
          </svg></span>
        </div>
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">할 일 생성</button>
      </div>
    </form>
  </div>
{% endblock content %}